
/* DARK MODE */
.dark #luxe-hahn {
    color: #eff0f3;
    background-color: none;
}

.dark {
    background-color: rgb(70, 74, 71);
    color: rgb(247, 247, 247);
}

.dark .bio, .dark .skills, .dark .education, .dark .rdh {
    color: #eff0f3;
}

.dark, .info, .dark .small {
    color: #8f8f8f;
}


.dark img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* RAINBOW EXPLOSION MODE */
.rainbow #luxe-hahn {
    animation: color-animation 1s linear infinite;
}


/* BIO PAGE */
 
 body{
     width: 100%;
    background-color: #eff0f3;
    color: rgb(70, 74, 71);
    margin: auto;
    display: flex;
    font-family: 'Lato';
    justify-content: center;  
    animation: fadein 2.5s; 
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.6;
    }
    100% {
    opacity:1;
    }
}

#main {
    width: 100%;
}

 .home-page-content {
    width: 70%;
    display: flex;
    align-items: center;
    
}

img {
    max-width: 500px;
    max-height: 500px;
    margin-left: 50px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.about-me-container {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100vh;   
    position: relative;
}

h1 {
    color: #0d0d0d;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h2 {
    color: #8f8f8f;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 100;
}

p {
    font-size: 18px;
    margin-right: 20px;
    color: #2a2a2a;
}

.nav-container {
    width: 15%;
    border: 1px solid black;
}

.main-ul {
    display: inline;
    list-style-type: none;
    /* justify-content: space-evenly; */
    /* font-weight: 900; */
    padding-left: 0px;
}

.main {
    color: #0d0d0d;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
}

.empty-space {
    width: 15%;
    border: 1px solid black;
}

.sun-moon:hover {
    color: black;
}

li:hover {
    background-color: #8f8f8f;
}

li, .sun-moon {
    cursor: pointer;
}

/* PROJECTS PAGE */

.projects {
    border: 2px solid black;
    width: 300px;
    positon: relative;
}

.carousel-item {
    height: 300px;
    background-color: gray;
}

.carousel-nav {
    width: 100%;
    padding 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel-btn {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgb(247, 247, 247, 0.6);
    border-radius: 50%;
}


/* EXPERIENCE PAGE */
.experience {
    margin-top: 100px;
    padding: 20px;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: fadein 1s;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.6;
    }
    100% {
    opacity:1;
    }
}

.skills, .education, .rdh {
    font-weight: 900;
    font-size: 40px;
}
.skills {
    margin-bottom: 10px;
}
.education {
    margin-top: 20px;
    margin-bottom: 10px;
}

.rdh {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 2px;
}

.info {
    font-size: 20px;
}

p, .small {
    font-size: 15px;
    font-weight: 100;
    margin-top: 2px;
}

/* HIDE ELEMENTS */

.hide {
    display: none;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    .home-page-content{
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        margin-right: 60px;
        align-items: center;
    }
    img {
        max-width: 50vh;
        display: flex;
        position: absolute;

    }
    .about-me-container {
        display: flex;
        justify-content: flex-start;
        position: relative;
        height: 800px;
        width: 45vh;
        margin-left: 100px;
        margin-top: 20px;
    }

    h1 {
        font-size: 60px;
    }

    ul {
        width: 300px;
    }

  }


