
/* DARK MODE */
.dark {
    background-color: rgb(66, 67, 66);
}

.dark #luxe-hahn {
    color: #eff0f3;
}

.dark .bio-content, .dark .skills, .dark .education, .dark .rdh, .dark .main {
    color: #f1f2ea;
    background-color: none;
}

.dark, .info, .dark .small {
    color: #8f8f8f;
}

.dark img {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.6);
}


/* RAINBOW EXPLOSION MODE */
.rainbow {
    background-color: pink;
}

.rainbow .bio-content {
    color: black;
}

.rainbow #luxe-hahn, .rainbow .skills, .rainbow .education, .rainbow .rdh, .rainbow li, .rainbow .carousel-image {
    animation: colorchange 4s linear infinite;
}

@keyframes colorchange {
    0% {
        color: #AB46D2;
      }
      
    20% {      
        color: #FF6FB5;
      }
    40% {
        color: #66b8a9;
    }
    60% {
        color: #2e8a62;
    }
      
    80% {
        color: #FCF69C;
    }
    100% {
        color: #eba8c8;
      }
    }


/* BIO PAGE */
 body{
    width: 100%;
    height: 100vh;
    background-color: #eff0f3;
    color: rgb(70, 74, 71);
    margin: auto;
    display: flex;
    font-family: 'Lato';
    justify-content: center;   
}

/*  WELCOME PAGE */
.welcome {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

.welcome, .home-page-content, .projects, .experience {
    animation: fadein 2.5s;
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

.welcome-ul {
    width: 50%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 40px;
    color:#8f8f8f;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.fa-moon:hover {
    color: black;
}

.fa-sun:hover {
    color: rgb(205, 205, 205);
    background-color: none;
}

.fa-rainbow:hover {
    color: rgb(206, 55, 105);
    background-color: none;
    cursor: pointer;
}

 .home-page-content {
    width: 70%;
    display: flex;
    align-items: center;
    
}

img {
    max-width: 60%;
    max-height: 60%;
    margin-left: 100px;  
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2); 
}

.about-me-container {
    margin-left: 60px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    position: relative;
}

h1 {
    color: #0d0d0d;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h2 {
    color: #8f8f8f;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 300;
}

.bio-content {
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    color: #2a2a2a;
}

.socials {
    margin-right: 20px;
    font-size: 20px;
}

.socials a {
    text-decoration: none;
    color: black;
}

.socials a:hover {
    color: grey;
}

.nav-container {
    width: 15%;
    display: flex;
}

.main-ul {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
    justify-content: space-evenly;
    text-transform: uppercase;
    transform: rotate(270deg);
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
    padding-left: 5px;
}


.main {
    color: #0d0d0d;
    padding: 20px;
    padding-bottom: 2px;
    border-radius: 2px;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.empty-space {
    width: 15%;
    /* border: 1px solid black; */
}

.main-ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.welcome-li:hover {
    color: #8f8f8f;
}

/* PROJECTS PAGE */

/*under construction modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



.projects {
    width: 70%;
    position: relative;
}

.carousel-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.carousel-image {
    margin: auto;
    text-align: center;
    display: none;
}

.carousel-image img {
    max-width: 100%;
    max-height: 70%;
    display: none;
}

.carousel-image img:first-of-type{
    margin: auto;
    display: block;
}

.project-name {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0px;
}

/* .project-description {
    font-weight: 200;
    font-size: 20px;
} */

.previous, .next {
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


/* EXPERIENCE PAGE */
.experience {
    padding: 20px;
    margin-bottom: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadein 1s;
}

.experience-container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.brand-statement-container {
    text-align: center;
}

.brand-statement {
    font-size: 45px;
    margin-bottom: 10px;
    font-style: italic;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.6;
    }
    100% {
    opacity:1;
    }
}

.skills, .education, .rdh {
    font-weight: 900;
    font-size: 40px;
}
.skills {
    margin-bottom: 10px;
}
.education {
    margin-top: 20px;
    margin-bottom: 10px;
}

.rdh {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 2px;
}

.info {
    font-weight: 400;
    font-size: 18px;
}

.info-progress {
    font-weight: 300;
}

p, .small {
    font-size: 16px;
    font-weight: 300;
    margin-top: 2px;
}

/* MEDIA QUERY */
/* laptop view */
@media only screen and (max-width: 1024px) {
    img {
        margin-left: 50px;
    }
    .about-me-container {
        width: 50%;
        height: 50%;
        margin-left: 30px;
        margin-right: 0px;
    }
}

/* Tablet view */
@media only screen and (max-width: 800px) {
    img {
        max-width: 50%;
        max-height: 50%;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .home-page-content {
        width: 95%;
        margin-top: 100px;
    }

    .about-me-container {
        width: 50%;
        height: 50%;
        margin-left: 20px;
        margin-right: 0px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .bio-content {
        font-size: 15px;
        margin-right: 0px;
    }

    .info {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .carousel-container {
        width: 100%;
    }

    .carousel-image img {
        margin: 0px 50px 0px 50px;
    }
  }

  /* mobile view */
@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    .welcome {
        width: 100%;
    }
    .welcome h1 {
        font-size: 70px;
    }

    .welcome p {
        text-align: center;
        font-size: 12px;
    }

    .welcome-ul {
        display: flex;
        justify-content: space-between;
    }

    .empty-space {
        display: none;
    }

    .home-page-content{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    img {
        margin-left: 100px;
        margin-top: 20px;
    }

    .about-me-container{
        width: 85%;
        height: 35%;
        text-align: right;
        display: fixed;
        position: relative;
    }

    li {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    .bio-content{
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .projects {
        margin-left: 30px;
        width: 80%;
    }

    .carousel-image p {
        font-size: 20px;
    }

    .experience{
        width: 85%;
        text-align: center;
    }
    
    .skills, .education {
        font-size: 32px;
    }

    .rdh {
        font-size: 16px;
    }

    .info {
        font-size: 14px;
    }

    .socials {
        font-size: 16px;
    }

    .previous, .next {
        font-size: 16px;
    }

}

/* HIDE ELEMENTS */

.hide {
    display: none;
}
